<app-header></app-header>

<div class="page-title-area page-title-bg1">
    <div class="container">
        <div class="page-title-content">
            <h2>Creer un devis</h2>
        </div>
    </div>
</div>

<section class="checkout-area ptb-100">
    <div class="container">
        <form #addForm="ngForm" (ngSubmit)="onAddDevis(addForm)">
            <div class="row m-0">
                <div class="col-lg-6 col-md-12 p-0">
                    <div class="col-lg-12 col-md-12">

                        <div class="form-group" >
                            <label>Client <span class="required">*</span></label>

                            <div class="select-box" >
                                <select class="form-control" required ngModel name= "client">
                                    <option *ngFor="let client of clients">{{client.raisonSocial}}</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label>Prestation <span class="required">*</span></label>

                            <div class="select-box">
                                <select class="form-control" required ngModel name= "num">
                                    <option *ngFor="let prestation of prestations">{{prestation.ref}}</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>N° Devis <span class="required">*</span></label>

                            
                                <div class="form-group">
                                    <input type="text" required ngModel name= "num" class="form-control">
                                </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Etat <span class="required">*</span></label>

                            <div class="select-box">
                                <select class="form-control" required ngModel name= "etat">
                                    <option>En cours</option>
                                    <option>Valide</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="order-details">
                            <div class="payment-box">
                                <button [disabled]="addForm.invalid" type="submit" (click)="submitCreate()" class="btn btn-primary">Creer</button>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</section>